* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* הגדרת כיוון כללי */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    /* כיוון כללי לעברית */
    text-align: right;
    /* יישור טקסט לימין */
}

/* תפריט ניווט במצב רגיל (Desktop) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.63);
    padding: 4px;
    font-family: Rubik Dirt;
    max-height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease;
}

/* עיצוב הקישורים */
.navbar ul {
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
    /* מסדר את הקישורים מימין לשמאל */
    margin-right: 8em;
}

.navbar ul li {
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    line-height: 2;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 220, 244, 0.645);
}

.navbar ul li a:hover {
    color: rgb(0, 183, 255);
    box-shadow: 4px 4px rgba(0, 220, 244, 0.645);
    background-color: rgba(255, 255, 255, 0.9);
    /* הופך את התפריט למעט כהה יותר בעת ריחוף */
}

/* עיצוב הלוגו והשם */
.logo-container {
    display: flex;
    align-items: center;

}

.logo-container img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 16em;
    box-shadow: 2px 2px rgba(0, 220, 244, 0.645);
}

.logo-container span {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px rgba(0, 220, 244, 0.645);
    margin-left: 0.5em;
    text-decoration: none;
}

.logo-container span:hover {
    color: rgba(0, 220, 244, 0.645);
    box-shadow: 1px 1px rgba(0, 220, 244, 0.645);
    cursor: pointer;
}

.logo-container a {
    text-decoration: none;
}

.mobile-header {
    display: none;
}


/* תיבת סימון מוסתרת */
.menu-toggle {
    display: none;
}

/* אייקון התפריט (מופיע רק במצב Mobile) */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 8px;
    right: 10px;
    color: #ffffff;
    display: none;
}

.menu-icon:hover {
    color: #ffffff;
    /* שינוי צבע בעת ריחוף */
}

/* תפריט הצד (Mobile) */
.side-menu {

    height: 100vw;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #aeaeae97;
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 30px;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    /* מטשטש את הרקע כאשר התפריט נפתח */
    z-index: 1000;
    /* לוודא שהתפריט הצדדי נמצא בשכבה גבוהה יותר */

}

/* רשימת תפריט הצד */
.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* קישורי תפריט הצד */
.side-menu ul li a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 20px;
    border-radius: 10px;
    /* פינות מעוגלות */
}

.side-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.765);
    color: #e2ad00;
    /* שינוי צבע בעת ריחוף */
}

/* פתיחת תפריט כאשר תיבת הסימון מופעלת */
.menu-toggle:checked~.side-menu {
    width: 250px;
}

/* כפתור סגירת התפריט */
.side-menu label {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 32px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s ease;
}

.side-menu label:hover {
    color: #ffffff;
    /* שינוי צבע בעת ריחוף */
}

.menu-toggle:checked~.projects-grid .project-box:hover {
    transform: none;
}

/* עיצוב לפי גודל המסך */
@media (max-width: 768px) {

    .navbar {
        display: none;
    }

    .menu-icon {
        display: block;
        color: orange;
    }

    /* סרגל עליון למובייל */
    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffffac;
        padding: 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .mobile-header .logo-container img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 0;
    }


    /* אייקון התפריט בצד ימין */
    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        color: #ffae00;
        display: block;
    }

    .menu-icon:hover {
        color: #000000;

    }



    /* תפריט הצד (Mobile) */
    .side-menu {
        height: 45%;
        width: 0;
        position: fixed;
    }

    /* פתיחת תפריט הצד כאשר תיבת הסימון פעילה */
    .menu-toggle:checked~.side-menu {
        width: 250px;
    }

    /* סגירת התפריט */
    .side-menu label.close-menu {
        font-size: 32px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 15px;
        color: #000000;
    }



    .side-menu ul li a {
        display: block;
        padding: 25px 20px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .side-menu ul li a:hover {
        background-color: rgb(252, 252, 252);
        color: #ffaa00;
    }

}

/* ביטול סימון תיבת הסימון ב-Desktop */
@media (min-width: 768px) {
    .menu-toggle:checked~.side-menu {
        width: 0;

    }

    .menu-toggle {
        display: none;
    }

    .project-box {
        width: 30%;
        /* במסכים גדולים, התיבה תתפוס 30% מהרוחב */
    }

    /* אפקט hover לתיבת הפרויקט */
    .project-box:hover {
        transform: scale(1.05);
    }

    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
        /* שלוש קופסאות בשורה */
    }

}

/* עיוב כללי */
.container {
    width: 100%;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------- עיצוב החלק העליון של תיק העבודות */
.portfolio-header {
    background-color: #91ffed;
    padding: 50px;
    text-align: center;
    background-image: url('../images/myimage2.jpg');
    /* הוספת תמונת רקע */
    background-size: 1920px 1020px;
    /* התאמת גודל התמונה לאזור */
    background-position: center;
    /* ממקם את התמונה במרכז */
    display: flex;
}

.general-image {
    max-width: 20vw;
    max-height: 250px;
    margin-top: 80px;
    /* גובה מקסימלי */
    height: auto;
    margin: auto;
}

.punchline {
    font-size: 1.5em;
    color: #000000;
    /* צבע בולט עבור משפט המחץ */
    font-weight: bold;
    margin-bottom: 30px;
    direction: rtl;
    /* כיוון כללי מימין לשמאל */
    text-align: center;
    font-family: Rubik Dirt;
}

.portfolio-header h1 {
    font-family: Rubik Dirt;
    font-size: 5em;
    color: #ffffff;
    /* שינוי הצבע ללבן */
    font-weight: bold;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.221);
    /* רקע שקוף קל מאחורי הכותרת */
    display: inline-block;
    direction: rtl;
    /* כיוון כללי מימין לשמאל */
}

.portfolio-header p {
    font-family: Rubik Dirt;
    font-size: 1.5em;
    color: #ffffff;
    /* שינוי הצבע ללבן */
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.262);
    /* רקע שקוף מאחורי הפסקה */
    padding: 10px;
    border-radius: 2px;
    /* פינות מעוגלות */
    direction: rtl;
    /* כיוון כללי מימין לשמאל */
}



/*------------------------------------------------------------------------------- עיצוב אזור לוגואים (Skills) */
.skills {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    border-bottom: 2px solid rgba(0, 238, 255, 0.2);
    margin: auto;
}

.iconcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* שמירה על רווח אחיד בין הלוגואים */
    margin: 0 auto;
    flex-wrap: wrap;
    /* הלוגואים יישארו באותה שורה עד גודל מסך מסוים ואז ייעברו לשורה נוספת */
    padding: 0 15px;
    /* מרווח פנימי כדי למנוע מהלוגואים לגעת בקצוות המסך */
}

.logo-box {
    position: relative;
    width: 85px;
    /* גודל אחיד לכל לוגו */
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.logo-box:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 238, 255, 0.5);
    opacity: 0.9;
    /* וודא שאכן יש שינוי ב-opacity */
    background-repeat: 50%;
}

.skills img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* שמירה על פרופורציות הלוגו */
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

}

.logo-description {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    /* מוודא שהטקסט לא ישבור שורה */
    pointer-events: none;
}

.logo-box:hover .logo-description {
    opacity: 1;
}

/* התאמות למסכי מובייל */
@media (max-width: 768px) {
    .iconcontainer {
        gap: 15px;
        /* הקטנת הרווח בין הלוגואים במסכים קטנים */
        padding: 0 10px;
    }

    .logo-box {
        width: 50px;
        /* התאמת גודל הקופסא של הלוגו כדי שיתאים למסכים קטנים */
        height: 50px;
    }

    .logo-description {
        font-size: 0.5rem;
        padding: 1px 2px;
        margin-bottom: 19px;
    }
}

/*------------------------------------------------------------------------------------------ עיצוב אודות */
.about-section {
    background-color: #ebebeb;
    padding: 50px 0;
    text-align: center;
}

.about-section h2 {
    font-family: Rubik Dirt;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-section .about-image {
    width: 240px;
    height: 240px;
    border-radius: 60vw;
    margin-bottom: 20px;
}

.about-section p {
    font-family: Rubik Dirt;
    font-size: 1.3em;
    color: #555;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    direction: rtl;
    /* משנה את הכיוון הכללי של הפסקה לימין לשמאל */
    text-align: right;
    /* יישור טקסט לימין */
}

.about-section .download-resume {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(227, 174, 0);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
    font-family: Rubik Dirt;
}

.about-section .download-resume:hover {
    background-color: #4a4a4a;
}

/* התאמות למסכי מובייל */
@media (max-width: 768px) {
    .about-section p {
        max-width: 100%;
        padding: 0 10px;
        /* הקטנת המרווח הפנימי למסכים קטנים */
        box-sizing: border-box;
        /* כולל padding בחישוב הרוחב */
    }
}

/*---------------------------------------------------------------------------------- עיצוב שירותים */
.projects-section {
    padding: 60px;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 10px;

}

/* כותרת אזור הפרויקטים */
.projects-section h2 {
    font-family: Rubik Dirt;
    font-size: 3rem;
    color: #333;
    margin: auto;
}

/* פסקה */
.projects-section p {
    font-family: Rubik Dirt;
    font-size: 1.2rem;
    color: #666;
    margin: 15px auto;
    max-width: 800px;
}

/* רשת הפרויקטים */
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
    direction: rtl;

}

/* תיבה של פרויקט */
.project-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* שומר על מיקום הכפתור בתחתית */
    flex: 1 1 calc(30% - 35px);
    /* מתאים לשלוש קופסאות בשורה */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 238, 255, 0.3);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 100px;
    max-height: 580px;
    /* גובה מינימלי אחיד לכל הקופסאות */
    box-sizing: border-box;
}

.project-box:hover {
    transform: scale(1.05);
    transition: ease-in-out(0.5);
    box-shadow: 0 8px 16px rgba(0, 238, 255, 0.5);
}


.container-img {
    width: auto;
    height: 29%;
    /* גובה קבוע לכל התמונות */
    overflow: hidden;
    transform: scalex(1.1) scaleY(1.1) translateY(-4%) translateX(0%);
    /* וודא שהתמונה נשארת בתוך הקופסה */
    border-radius: 10px 10px 0 0;
    position: relative;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-box h3 {
    font-family: Rubik Dirt;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-top: 35px;
}



/* תיאור פרויקט */
.project-box p {
    font-family: Rubik Dirt;
    min-height: 120px;
    max-height: 180px;
    /* גובה מקסימלי לתיאור */
    flex-grow: 1;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 1rem;
    color: #000000;
}

.project-box>a {
    /* מאפשר לתוכן לתפוס את כל הגובה הפנוי */
    margin: auto;
    margin-bottom: 40px;
}

/* קישור לפרויקט */
.project-link {
    margin-top: 20px;
    /* מונע מהכפתור להיות מוצמד למעלה */
    width: 200px;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid rgb(227, 174, 0);
    padding: 2px;
    /* מוסיף מרווח אנכי לכפתור */
    border-radius: 15px;
    transition: background-color 0.6s ease-in-out, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* מוודא שהכפתור נצמד לתחתית */
    margin-bottom: 0;
    /* מנטרל את ה-margin התחתון */
    background-color: rgb(227, 174, 0);
}

.project-link::after {
    content: "\00BB";
    margin-right: 5px;
    font-size: 1.4em;
    vertical-align: middle;
}

.project-link:hover {
    background-color: #ffffff;
    color: #00eeff;
    transform: scale(1.2);
    transition: all 0.6s ease-in-out;
}

/* אייקונים של הטכנולוגיות */
.project-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 25px;
    direction: ltr;


}

.project-icons .icon {
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease;
}

.project-icons .icon:hover {
    transform: scale(1.2);
}

.project-icons img.icon {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
}

.project-icons img.icon:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 2px rgba(0, 238, 255, 0.4);
}

/* התאמות למסכים קטנים */
@media (max-width: 1200px) {

    /* תיבה של פרויקט */
    .project-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* שומר על מיקום הכפתור בתחתית */
        flex: 1 1 calc(45% - 20px);
        /* מתאים לשתי קופסאות בשורה במסך בינוני */
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 238, 255, 0.3);
        padding: 15px;
        transition: transform 0.8s ease, box-shadow 0.8s ease-in-out;
        min-height: 550px;
        /* גובה מינימלי אחיד לכל הקופסאות */
        box-sizing: border-box;
        overflow: hidden;
        /* מבטיח שהתוכן יישאר בתוך הקופסה */

    }

    /* קופסת התמונה */
    .container-img {
        width: 100%;
        /* התאמה לרוחב הקופסה */
        height: auto;
        overflow: hidden;
        /* מבטיח שהתמונה לא תחרוג מהקופסה */
        border-radius: 10px 10px 0 0;
        position: relative;
    }

    /* תמונה בתוך הקופסה */
    .container-img img {
        width: 100%;
        /* מבטיח שהתמונה מותאמת לרוחב */
        height: auto;
        object-fit: cover;
        /* שומר על הפרופורציות של התמונה */
        display: block;
    }

    /* תיאור ותוכן */
    .project-box p {
        max-width: 100%;
        word-wrap: break-word;
        /* מבטיח שהטקסט לא יחרוג מגבולות הקופסה */
    }

    /* התאמה לגודל המסך */
    .project-box a {
        margin-top: auto;
    }
}

@media (max-width: 768px) {
    .project-box {
        flex: 1 1 calc(100% - 20px);
        /* קופסה אחת בשורה במסך קטן */
        margin-bottom: 15px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 238, 255, 0.3);
        padding: 15px;
        transition: transform 0.8s ease, box-shadow 0.8s ease-in-out;
        min-height: 550px;
        /* גובה מינימלי אחיד לכל הקופסאות */
        box-sizing: border-box;
        overflow: hidden;
        /* מבטיח שהתוכן יישאר בתוך הקופסה */
    }

    .container-img {
        width: auto;
        height: 70%;
        /* גובה קבוע לכל התמונות */
        overflow: hidden;
        transform: scalex(1.1) scaleY(1.1) translateY(-4%) translateX(0%);
        /* וודא שהתמונה נשארת בתוך הקופסה */
        border-radius: 10px 10px 0 0;
        position: relative;
        margin-bottom: 2;
    }

    .container-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* תיאור ותוכן */
    .project-box p {
        max-width: 100%;
        min-height: 20%;
        font-size: 0.8rem;
        word-wrap: break-word;
        /* מבטיח שהטקסט לא יחרוג מגבולות הקופסה */

    }



    .project-box a {
        margin-bottom: 50px;
    }
}

@media (max-width: 390px) {
    .project-box {
        width: 100%;
    }

    /* רשת הפרויקטים */
    .projects-grid {
        display: flex;
        flex-wrap: wrap;

        text-align: center;
        direction: rtl;

    }

    .project-box h3 {
        font-family: 'Rubik Dirt';
        min-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        /* שינוי לגודל טקסט קטן יותר כדי להתאים למסכים קטנים */
        color: #333;
        text-align: center;
        margin-top: 10px;
    }

    .container-img {
        width: 100%;
        /* התאמת הרוחב לגודל המסך */
        height: auto;
        /* גובה אוטומטי כדי להתאים לתמונה */
        overflow: hidden;
        transform: none;
        /* מניעת שינוי מימדים על מסכים קטנים */
        border-radius: 10px;
        /* פינות מעוגלות עבור התמונה */
        position: relative;
        margin-bottom: 10px;
    }

    /* תיאור ותוכן */
    .project-box p {
        max-width: 100%;
        min-height: auto;
        word-wrap: break-word;
        font-size: 0.1rem;
        /* גודל טקסט קטן יותר */
        text-align: justify;
        /* יישור טקסט לכל המסך */
        padding: 0 10px;
        /* ריווח פנימי */
    }

    .project-icons {
        margin-bottom: 15px;
        font-size: 1.2rem;
        /* גודל אייקונים מותאם */
    }

    .project-box a {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1rem;
        /* גודל טקסט מותאם */
        padding: 8px 15px;
        /* ריווח פנימי לכפתורים */
        border-radius: 5px;
        /* פינות מעוגלות לכפתורים */
    }

    .project-box h3 {
        font-size: 1.2rem;
    }
}

/*---------------------------------------------- אזור צור קשר */
.contact-section {
    background-image: url('path_to_your_background_image.jpg');
    background-color: rgb(74, 74, 74);
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    text-align: center;
    color: rgb(81, 81, 81);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* כותרת ראשית */
.contact-section h2 {
    font-family: Rubik Dirt;
    padding: 1px 0;
    font-size: 3rem;
    margin: 0 auto;
    /* ממרכז את הכותרת */
    color: white;
    text-align: center;
    max-width: 100%;
    /* מונע חריגה */

}

/* פסקה */
.contact-section p {
    font-family: Rubik Dirt;
    color: #ffffff;
    text-align: center;
    /* ממרכז את הטקסט */
    font-size: 1.2rem;
    margin: 10px auto;
    /* ממרכז את הפסקה */
    max-width: 800px;
    /* הגבלה רוחבית */
}

/* טופס צור קשר */
.contact-section form {
    font-family: Rubik Dirt;
    max-width: 600px;
    margin: 20px auto;
    /* ממרכז את הטופס */
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 255, 255, 0.514);

}

/* עיצוב שדות הטופס */
.contact-section label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: white;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 220, 244, 0.645);
    direction: rtl;
}

/* עיצוב הכפתור */
.contact-section button {
    font-family: Rubik Dirt;
    background-color: #ffffff;
    ;
    color: #000000;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 220, 244, 0.645);
}

.contact-section button:hover {
    color: rgb(0, 183, 255);
    box-shadow: 5px 5px 5px rgba(0, 220, 244, 0.645);
}

.contactimgaeSmall {
    opacity: 0;
}


.contactimgaeBig>img {
    position: absolute;
    left: 0px;
    top: 3478px;
    width: 30%;
}

/* התאמות למסכי מובייל */
@media (max-width: 768px) {
    .contact-section {
        padding: 25px;
        box-sizing: border-box;
    }

    .contact-section form {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .contact-section p {
        font-size: 1rem;
        max-width: 100%;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .contact-section h2 {
        font-family: Rubik Dirt;
        font-size: 2.5rem;
        padding: 0 10px;
        box-sizing: border-box;
        margin-top: 0px;
        text-align: right;
    }

    .contactimgaeSmall {
        margin-top: 0px;
    }




    .contactimgaeBig {
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    .contactimgaeSmall {
        margin-top: -24.6px;
        width: 20%;
        opacity: 1;
    }
}


/* ------------------------------------footer אזור */

.footer {
    background-color: #19cbcb93;
    padding: 5px;
    color: #ffffff;
    font-family: 'Arial', sans-serif;

    bottom: 0;
    width: 100%;
    text-align: center;
    /* להבטיח שכל התוכן נמצא במרכז */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    /* פיצול שם בצד שמאל והזכויות בצד ימין */
    align-items: center;
    width: 90%;
    margin: 0 auto;
}



.footer .name a {
    color: #ffffff;
    text-decoration: none;
}

.footer .name a:hover {
    text-decoration: none;
    /* הוספת קו תחתי בקישור בעת ריחוף */
    color: #00eeff;
}

.footer .rights {
    text-align: right;
}

.social-icons {
    margin-top: 10px;
    /* מרווח קטן בין זכויות היוצרים לאייקונים */
}

.social-icons a {
    margin: 0 10px;
    /* רווח בין האייקונים */
}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: invert(1);
    /* שינוי צבע האייקונים ללבן על רקע כהה */
}

.social-icons a:hover img {
    filter: none;
    /* הסרת הפילטר על hover */
}